@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono");

@font-face {
  font-family: 'Eurostile';
  src: url('../fonts/eurostile.eot');
  src: url('../fonts/eurostile.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eurostile.woff2') format('woff2'),
  url('../fonts/eurostile.woff') format('woff'),
  url('../fonts/eurostile.ttf') format('truetype'),
  url('../fonts/eurostile.svg#euro_capsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@fStandard: 'Eurostile', Helvetica, sans-serif;
@fTitle: 'Eurostile', Arial, sans-serif;
